*{margin:0;box-sizing: border-box;}

.box1{
	height:50vh;
	background-image: url("images/lonessum.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:28%;
	border: 7px solid white;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	margin-top: 3em;
}

.box2{
	height:50vh;
	background-image: url("images/riskout.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:28%;
	border: 7px solid white;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	margin-top: 3em;
}

.box3{
	height:50vh;
	background-image: url("images/into.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:28%;
	border: 7px solid white;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	margin-top: 3em;
}

.box4{
	height:50vh;
	background-image: url("images/terriereats.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:28%;
	border: 7px solid white;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	margin-top: 3em;
}

.text{
	color:white;
	text-align: center;
	margin:0;
	padding-top:15vh;
	font-family:cursive;
	background-color: rgba(0,0,0,.6);
	height: 100%;
}

.text{
	opacity: 0;
}

.box1:hover .text{
	opacity: 1;
}

.box2:hover .text{
	opacity: 1;
}

.box3:hover .text{
	opacity: 1;
}

.box4:hover .text{
	opacity: 1;
}

.text{
	transition: opacity 2s linear;
}

.rotate-boxes{
	position: relative;
}

.box1{position: absolute;
		left: 10%}
		
.box2{position: absolute;
		left: 30%}
		
.box3{position: absolute;
		left: 45%}
		
.box4{position: absolute;
		left: 60%}
		
.box1{
	z-index: 5;
}

.box3{
	z-index: 5;
}

.box1{transform: rotateZ(-12deg);}

.box2{transform: rotateZ(4deg);}

.box3{transform: rotateZ(-12deg);}

.box4{transform: rotateZ(4deg);}

.box2:hover{
	z-index: 10;
}

.box4:hover{
	z-index: 10;
}

.wrapper{
	width: 90%;
	height: 80vh;
	margin:0 auto;
	background-color: black;
}