#container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
    border: 10px solid orange;
    padding: 20px;
}

#container h1{
	color: orange;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

#container p{
	color: orange;
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	padding-left: 20px;
}

input {
	width: 100%;
  	padding: 14px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	border: 2px solid orange;
  	border-radius: 4px;
  	color: orange;
  	font-size: 18px;
}

button {
    background-color: orange;
    border: none;
    color: yellow;
    padding: 24px 38px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
}
