body {
  font-family: "Quicksand", sans-serif; /* Try QuickSand font or use sans-serif  */
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

#menu-items {
	float: right;
	display: inline-block;
}

nav {
	padding: 30px 0;
}

#header-logo {
	display: inline-block;
	font-size: 20px;
	color: red;
}

header {
	padding-left: 90px;
	padding-right: 90px;
	align-items: center;
	height: 90px;
}

a.menu-property {
	display: inline;
	margin-left: 30px;
}

input.search-units {
  font-size: 22px;
  line-height: 150%;
  width: 80%;
}

input#search-units {
  font-size: 22px;
  line-height: 150%;
  width: 90%;
}

div#searchbar-wrapper {
  width: 100%;
}

#go-button {
  display: inline;
  margin-left: 20px;
  border: 1px solid red;
  border-radius: 6px;
  color: red;
  padding: 5px 30px 5px 30px;
  cursor: pointer;
}

#main-content {
  padding-left: 200px;
  padding-right: 200px;
}

p.title {
  padding-top: 50px;
  font-size: 25px;
  padding-bottom: 20px;
}

p#title {
  font-size: 25px;
  padding-bottom: 20px;
}

div#type-container {
  margin-bottom: 60px;
}

#ninja {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  width: 250px;
  border-radius: 5px;
  height: 250px;
  margin-right: 30px;
  text-align: center;
}

#chill {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  width: 250px;
  border-radius: 5px;
  height: 250px;
  text-align: center;
}

.preference-title {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.button-image{
	width: 100px;
	height: 100px;
	padding-top: 40px;
}

footer {
  height: 120px;
  border-top: 1px solid rgba(0, 0, 0, .09);
  text-align: center;
}