
li {
	list-style-type: none;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 30px;
}

ul {
	text-align: center;
	background-color: hsla(200, 4%, 20%, 1);
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 35px;
}

a {
	color: white;
	text-decoration: none;
}